@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* :root {
  --color-primary: #235ad1;
  --primary-gradient: linear-gradient(150deg, #235ad1, #23d1a8);
} */

:root {
  --font-main-size: 10px;
  --text-color: #434343;
  --text-success-color: #5bbc2e;
  --border-color: 210, 210, 210;
  --action-border-color: #5bbc2e;
  --hover-border-color: #434343;
  --main-bg-color: #fff;
  --success-bg-color: #5bbc2e;
  --secondary-bg-color: #efefef;
  --action-bg-color: #f9f7f7;
  --main-bg-img: url('./assets/images/bg-light.jpg');
  --btn-main-color: #eeeeee;
  --btn-success-color: #5bbc2e;
  --shadow-color: #434343;
}

/* Класс, добавленный к элементу <html> */
.dark-mode {
  --text-color: #e9e9e9;
  --point-text-color: #5bbc2e;
  --border-color: 67, 67, 67;
  --action-border-color: #5bbc2e;
  --hover-border-color: #e9e9e9;
  --main-bg-color: #434343;
  --success-bg-color: #5bbc2e;
  --action-bg-color: #363636;
  --main-bg-img: url('./assets/images/bg-dark2.jpg');
  --btn-main-color: #717171;
  --btn-success-color: #5bbc2e;
  --shadow-color: #e9e9e9;
}

html {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  color: var(--text-color);
  background-color: var(--main-bg-color);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

section {
  padding-top: 50px;
}

.container {
  max-width: 930px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  background-color: var(--btn-main-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: 700;
  transition: box-shadow 0.5s linear;
}

.btn__success {
  background-color: var(--btn-success-color);
}

.btn:hover {
  opacity: 0.9;
  box-shadow: 0 0 15px 0 var(--shadow-color);
}

/*  */
.btn__right,
.btn__left {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 2vh;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.4);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__right:hover,
.btn__left:hover,
.btn__close {
  box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.449);
  cursor: pointer;
}

.btn__right {
  left: 60%;
}

.btn__left {
  left: 40%;
}

.btn__close {
  padding: 5px 10px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 10px;
  position: absolute;
  top: 1vh;
  left: 85vw;
  font-size: 16px;
}
/*  */

.shadow {
  box-shadow: 0 0 15px 0 var(--shadow-color);
}

.success {
  color: var(--text-success-color);
}

.title {
  text-align: center;
  padding: 50px 0;
  font-size: 30px;
}

.line {
  display: inline-block;
  width: 80px;
  height: 3px;
  background-color: var(--success-bg-color);
}

@media (max-width: 991px) {
  .container {
    padding: 0 40px 0 20px;
    width: 98%;
    margin: 0 auto;
  }
  .title {
    padding-top: 0;
  }
}

@media (max-width: 767px) {
  .btn__close {
    left: calc(100vw - 70px);
  }
}

@media (max-width: 460px) {
  .title {
    font-size: 22px;
  }
  .btn__close {
    left: calc(100vw - 40px);
    padding: 0 3px;
    font-size: 12px;
  }
  .btn__right,
  .btn__left {
    width: 24px;
    height: 24px;
    font-size: 16px;
  }
}

.header {
  width: 100%;
  height: 60px;
  padding: 0 30px;
  background-color: var(--main-bg-color);
  position: fixed;
  z-index: 10;
}

.logo__img {
  width: 30px;
  /* margin-right: 10px; */
}

.logo__text {
  color: var(--text-color);
  font-size: 30px;
  border-bottom: none;
}

.menu__item__link {
  color: var(--text-color);
  margin-right: 20px;
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  display: block;
  padding: 6px 0;
  border-bottom: 3px solid rgba(var(--border-color), 00);
  transition: all 0.5s linear;
}

.menu__item__link.focus {
  border-bottom: 3px solid var(--action-border-color);
}

.menu__item__link:hover {
  border-bottom: 3px solid var(--hover-border-color);
}

.burger__menu {
  display: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
  .menu.open {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 60px;
    left: 0;
    background-color: var(--main-bg-color);
    box-shadow: 0 10px 10px var(--shadow-color);
    width: 100vw;
    align-items: center;
    padding: 13px 0 10px;
  }

  .burger__menu {
    display: block;
    width: 40px;
    height: 40px;
    background: url(./assets/icons/menu.png) no-repeat center;
    cursor: pointer;
  }

  .burger__menu.open {
    background-image: url(./assets/icons/close.png);
  }
}

@media (max-width: 460px) {
  .header {
    padding: 0 10px;
  }
  .logo__text {
    font-size: 22px;
  }
}

.btn__up {
  position: fixed;
  z-index: 15;
  font-size: 20px;
  width: 30px;
  height: 30px;
  padding: 1px;
  border-radius: 50%;
  color: var(--text-color);
  text-align: center;
  top: calc(100vh - 60px);
  left: calc(100vw - 70px);
  font-weight: 400;
  display: none;
  opacity: 0.5;
}

.btn__up:hover {
  background-color: var(--success-bg-color);
}

.home {
  background: var(--main-bg-img) no-repeat top left/cover;
  padding-top: 100px;
}

.home__img {
  height: 500px;
  width: 50%;
  background: url(./assets/images/photo2.png) no-repeat bottom/contain;
}

.home__desc {
  font-size: 30px;
}

.home__name {
  margin: 20px 0;
  font-size: 50px;
}

.btn__cv {
  margin: 30px 0;
  padding: 15px 35px;
  border-radius: 30px;
}

.cv__download {
  width: 100%;
  height: 100%;
  background-color: rgba(8, 8, 8, 0.6);
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  padding: 2%;
  text-align: center;
  display: none;
}

.cv {
  height: 100%;
  width: 80%;
}

@media (max-width: 991px) {
  .home__desc {
    font-size: 22px;
  }
  .home__name {
    font-size: 38px;
  }
}

@media (max-width: 767px) {
  .home__desc {
    max-height: fit-content;
  }
  .home .row {
    flex-direction: column-reverse;
    height: auto;
  }
  .home__img {
    width: 70%;
    position: relative;
    overflow: hidden;
  }
}

@media (max-width: 767px) {
  .home__img {
    height: 300px;
    width: 100%;
  }
}

.about {
  padding-bottom: 50px;
}

.about article {
  padding: 20px;
}

.about h5 {
  font-size: 22px;
  margin: 10px 0;
}

.about p {
  margin: 20px 0;
}

.about hr {
  border-color: var(--action-border-color);
  opacity: 0.7;
}

.about__nav {
  justify-content: center;
  margin-bottom: 40px;
}

.about__nav__link {
  margin: 1vw;
}

.about__way,
.about__education,
.about__exerience,
.about__skills,
.about__sertifications {
  display: none;
}

.about__way {
  display: block;
}

.skills__desc,
.skills__certificates {
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 10px;
}

.progress-bar {
  width: 48%;
}

.progress-bar__title {
  margin-bottom: 6px;
}

.progress-bar__line {
  position: relative;
  width: 100%;
  height: 5px;
  position: relative;
  background-color: var(--secondary-bg-color);
  border-radius: 5px;
  margin-bottom: 40px;
}

.progress-bar__line .line {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: var(--success-bg-color);
  border-radius: 5px;
}

.certificate {
  width: 42%;
  margin: 2%;
}

.certificate img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

.certificate.show {
  width: 100vw;
  height: 100vh;
  background-color: rgba(8, 8, 8, 0.6);
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  padding: 2%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.certificate.show img {
  width: 60%;
  height: auto;
  cursor: zoom-out;
}

.certificate:hover {
  animation: moves 0.3s linear;
  cursor: zoom-in;
}

@keyframes moves {
  0% {
  }
  40% {
    transform: rotate(-3deg);
  }
  80% {
    transform: rotate(4deg);
  }
  100% {
  }
}

@media (max-width: 767px) {
  .about__item div {
    font-size: 12px;
  }
  .about__nav {
    flex-wrap: wrap;
  }
  .about__nav__link {
    margin-bottom: 10px;
  }
  .certificate.show img {
    width: 90%;
    height: auto;
  }
  .progress-bar {
    width: 100%;
  }
  .progress-bar__line {
    margin-bottom: 20px;
  }
}

@media (max-width: 460px) {
  .about h5 {
    font-size: 16px;
    margin: 5px 0;
  }

  .about p {
    font-size: 12px;
    margin: 10px 0;
  }

  .about__item div {
    font-size: 8px;
  }
}

/*  */

.portfolio {
  background: var(--main-bg-img) no-repeat top left/cover;
  padding-bottom: 50px;
}

.blur {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(53, 47, 47, 0.53);
}

.filter {
  width: 285px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.filter__btns {
  padding: 0 10px;
}

.filter__btns button {
  border: none;
  background: none;
  color: var(--text-color);
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.filter__bar {
  height: 5px;
  margin: 10px auto 0;
  background-color: var(--main-bg-color);
  position: relative;
  border-radius: 5px;
}

.filter__bar span {
  position: absolute;
  left: 0;
  width: 40px;
  height: 100%;
  border-radius: 5px;
  background-color: var(--btn-success-color);
  transition: all 0.3s linear;
}

.portfolio__show {
  max-width: 930px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(1fr);
}

.portfolio__item {
  position: relative;
  width: 90%;
  height: 270px;
  margin: 4%;
  background: url(./assets/images/2.jpg) no-repeat top left/cover;
  overflow: hidden;
  display: none;
}

.portfolio__item.show {
  display: block;
}

.portfolio__item__big {
  height: 565px;
  margin: 2% 3%;
  width: 94%;
  grid-column: 1/3;
  grid-row: 1/3;
}

.item__block {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.portfolio__desc {
  text-align: left;
  position: absolute;
  bottom: -50px;
  left: 20px;
  transition: all 0.3s linear;
}

.portfolio__desc h4 {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #fff;
}

.portfolio__desc p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
}

.portfolio__btns {
  opacity: 0;
  transition: all 0.3s linear;
}

.portfolio__btns .btn {
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 50px;
  height: 50px;
  margin-top: 20px;
  margin-right: 5px;
  text-align: center;
  display: inline-block;
  transition: all 0.3s linear;
  padding: 0;
}

.portfolio__btns .btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.btn-zoom {
  background: url(./assets/icons/zoom-in.png) no-repeat center/ 50%;
}

.btn-deploy {
  background: url(./assets/icons/eye.png) no-repeat center/ 50%;
}

.btn-link {
  background: url(./assets/icons/link.png) no-repeat center/ 40%;
}

.portfolio__item:hover .portfolio__desc {
  bottom: 10px;
}

.portfolio__item:hover .portfolio__btns {
  opacity: 1;
}

.btn__add {
  clear: both;
  transition: all 0.2s;
  width: 60px;
  height: 60px;
  line-height: 1;
  display: none;
  justify-content: center;
  align-items: center;
  margin: 50px auto 0;
  cursor: pointer;
  background-color: var(--btn-success-color);
}

.btn__add span {
  font-size: 30px;
  font-weight: 600;
  transition: all 0.2s;
}

.btn__add:hover {
  text-decoration: none;
}

.btn__add:hover span {
  transform: rotate(90deg);
}

.zoom {
  display: none;
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: rgba(3, 3, 3, 0.7);
  color: #fff;
  padding: 10vh 10vw;
}

.zoom__img {
  max-width: 90%;
  max-height: 70vh;
  text-align: center;
  display: none;
  overflow: hidden;
  margin: 3vw auto 5vh;
  box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.449);
}

.zoom__img.img__show {
  display: block;
}

@media (max-width: 991px) {
  .portfolio__show {
    width: 98%;
    padding: 0 20px;
  }
}

@media (max-width: 767px) {
  .portfolio__show {
    width: 92%;
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr);
  }
  .portfolio__item__big {
    width: 100%;
    margin: 4%;
    height: calc(100vw - 40px);
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .portfolio__item {
    width: 100%;
    height: calc(100vw - 72px);
  }
}

@media only screen and (max-width: 768px) {
  .portfolio__desc {
    bottom: 10px;
  }

  .portfolio__btns {
    opacity: 1;
  }
}

/*  */

.video {
  text-align: center;
  padding-bottom: 50px;
}

.video__cv {
  width: 560px;
  height: 315px;
  margin: 0 auto;
}

@media (max-width: 620px) {
  .video__cv {
    width: 100%;
    height: 50vw;
  }
}

.contact {
  background: var(--main-bg-img) no-repeat top left/cover;
  padding-bottom: 50px;
}

.contact__items {
  padding: 5vw 10vw;
  margin: 0 auto;
  background-color: var(--main-bg-color);
}

.contact__item {
  justify-content: start;
  margin: 30px 0;
}

.contact__item__name {
  width: 200px;
  font-weight: 700;
}

.contact__item__link {
  color: var(--text-color);
  word-wrap: break-word;
}

@media (max-width: 880px) {
  .contact__item {
    flex-direction: column;
    align-items: start;
  }
}

@media (max-width: 450px) {
  .contact {
    font-size: 12px;
  }
}

.footer {
  width: 100%;
  height: 60px;
  padding: 0 20px;
}

.footer__social a {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s linear;
}

.footer__social a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 460px) {
  .footer {
    padding: 5px;
    flex-direction: column-reverse;
  }
}
